@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    /*block-4*/
        .block-4{
            
    

            .item{ padding: 20px 20px 120px; margin-bottom: 10px;
                .contacts{ position: absolute; bottom: 0; width: 100%; left: 0;    padding: 0 0 19px; text-align: center;
                    .tel{    margin-bottom: 15px;}
                    .tel,
                    .butt{ float: none; display: inline-block;width: 100%;}
                }
            }
    
        }
    /*END block-4*/
}
@media screen and (max-width: 320px){

}