@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    /* block 1 */
    .section-1 .top-center{padding-bottom: 121px;}
    .section-1 {padding-top: 168px;}
    /* /block 1 */

    // header
    header .mbox{display: block;}
    header .logo{margin:0 auto;}
    header .nav ul{justify-content:center;align-items: center;}
    header .nav li{padding:15px 5px;}
    header .tel{margin:0 auto;text-align: center;}
    header .header-hidden-form{right: 50%;transform: translateX(50%);}

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
    // block 1
    .section-1 .top-section{font-size: 29px;line-height: 41px;}
    .section-1 .top-center{font-size: 22px;line-height: 36px;padding-top: 36px;padding-bottom: 89px;}

    // block 5
    .section-5{overflow: hidden;
        .title{font-size: 29px;line-height: 41px;}
        .subtitle{font-size: 22px;line-height: 36px;padding-bottom: 35px;}
    }
}
@media screen and (max-width: 479px){
    // block 1
    .section-1 .top-section{font-size: 24px;line-height: 35px;}
    .section-1 .top-center{font-size: 18px;line-height: 24px;padding-top: 30px;padding-bottom: 50px;}
    .section-1{min-height: 600px;}
}
@media screen and (max-width: 370px){
    // form
    .form-main{width: 300px;}
    .form-main input{height: 42px;margin-bottom: 15px;font-size: 16px;
        &::-webkit-input-placeholder {font-size: 16px;}
        &:-moz-placeholder {font-size: 16px;}
        &::-moz-placeholder {font-size: 16px;}
        &:-ms-input-placeholder {font-size: 16px;}
    }
    .button-b a, .button-b button{height: 42px;line-height: 40px;font-size: 16px;}

    // header
    header .nav {padding-bottom: 10px;}
    header .nav li{padding: 6px 5px;}
    header .nav ul{flex-direction: column;}

    // block 1
    .section-1 {padding-top: 220px;min-height: 630px;}
    .section-1 .top-center{font-size: 17px;line-height: 22px;padding-top: 22px;}

    // block 5
    .section-5 .mbox{padding-top: 124px;}
}