@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

    /* block-3 */

        .block-3{background-image:url(../../images/block-3-bg-mobile.png);background-size:cover;
            .block-3-item{display: block;margin-bottom: 60px;
                .block-3-img{margin:0 auto 20px auto;}
                .block-3-content{width: 100%;text-align: center;}
            }
        }

    /* /block-3 */

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}