<section class="block-3" id="block-3">
    <div class="mbox">
        <h2 class="title">Почему приходят именно к нам?</h2>
        <div class="block-3-main">
            <div class="block-3-item">
                <div class="block-3-img">
                    <div class="block-3-img-wrap">
                        <img src="images/block-3-img1.png" alt="" />
                    </div>
                </div>
                <div class="block-3-content">
                    <h6>Более 50 программ обучения</h6>
                    <p>Проводим обучение с любого уровня  подготовки. Подстраиваемся под ваши запросы и действуем,<br> исходя из ваших желаний и потребностей</p>
                </div>
            </div>
            <div class="block-3-item reverse">
                <div class="block-3-img">
                    <div class="block-3-img-wrap">
                        <img src="images/block-3-img2.png" alt="" />
                    </div>
                </div>
                <div class="block-3-content">
                    <h6>20 филиалов в России и за рубежом</h6>
                    <p>Занимайтесь и учитесь там, где удобно. Филиалы<br>Академии расположены практически во всех <br>крупных городах России, СНГ и ближнего зарубежья</p>
                </div>
            </div>
            <div class="block-3-item">
                <div class="block-3-img">
                    <div class="block-3-img-wrap">
                        <img src="images/block-3-img3.png" alt="" />
                    </div>
                </div>
                <div class="block-3-content">
                    <h6>Признанные, авторитетные специалисты</h6>
                    <p>Специалисты Академии – люди с мировым именем. <br>Компетентность каждого из них подтверждена <br>международными сертификатами, наградами, участием <br>в крупных семинарах</p>
                </div>
            </div>
            <div class="block-3-item reverse">
                <div class="block-3-img">
                    <div class="block-3-img-wrap">
                        <img src="images/block-3-img4.png" alt="" />
                    </div>
                </div>
                <div class="block-3-content">
                    <h6>Лучшие учителя и наставники</h6>
                    <p>Работаем на стыке науки и эзотерики. Помогаем <br>раскрыть и развить сверх-возможности человеческого <br>организма. Используем только проверенные методы<br>и сильные технологии</p>
                </div>
            </div>
        </div>
    </div>
</section>