<section class="section-5" id="section-5">
    <div class="mbox">
        <div class="title">
            <h2>
                Главное – желание. С остальным мы поможем!
            </h2>
        </div>
        <div class="subtitle">
            <p>Следуйте своим путем. И мир будет следовать за вами</p>
        </div>
        <div class="section-5-form">
            <div class="form-main">
                <form  name="" class="contact-form">
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item button-b">
                            <button type="submit" class="contact-submit ">
                                <span>Оставить заявку</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>