<section class="section-1" id="section-1">
    <div class="mbox">
        <div class="top-section">
            <h1>Как раскрыть свои способности и направить их в нужное русло?</h1>
        </div>
        <div class="top-center">
            <p>Международная Академия Ясновидения и Энерготерапии<br>приглашает на специальную программу Н. А. Онуфриевой –<br>президента и основателя Академии</p>
            <b>28 мая, г. Екатеринбург</b>
        </div>
        <div class="top-bottom">
            <div class="button-b">
                <a href="#">
                    <span>Получить полную программу</span>
                </a>
            </div>
            <div class="top-hidden-form">
                <div class="form-main">
                    <form  name="" class="contact-form">
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item button-b">
                                <button type="submit" class="contact-submit ">
                                    <span>Оставить заявку</span>
                                </button>
                            </div>
                            <p class="garantya">Гарантия конфиденциальности</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>