<section class="block-4" id="block-4">
    <div class="mbox">
        <div class="block-4-wrap">
            <div class="title">
                <h2>Ваши возможности</h2>
            </div>
            <div class="content">
                <div class="item one">
                    <div class="txt">
                        <b>
                            <p>Практические семинары</p>

                            <p><i>Темы семинаров:</i></p>
                            <p>«Выход из кризисных ситуаций»<br>
                            «Встреча на тонком плане с Великим <br>
                            Учителем всех мастеров мудрости»<br>
                            «Посвящение в энергию Великого Призыва»</p>

                            <p><i>Дата:</i> 26 мая 2016 года,</p>

                            <p><i>Ведущий:</i> Н. А. Онуфриева,
                            президент Академии (г. Москва)</p>

                            <p><i>Стоимость:</i> от 5 000 рублей</p>
                        </b>
                        <p>На занятиях вы получите практические навыки – <br>
                        как выходить из кризисных ситуаций,<br>
                        как устранять несправедливость в жизни,<br>
                        как развить интуицию, изучите древнюю формулу
                        призыва энергии и многое другое.</p>
                    </div>
                    <div class="contacts cfix">
                        <div class="tel">
                            <p>Телефон для записи:</p>
                            <p><a href="tel:89326009937">8 (932) 600-9937</a></p>
                        </div>
                        <div class="butt">Узнать подробности</div>
                    </div>
                    <div class="form">
                        <div class="form-main">
                            <form  name="one" class="contact-form">
                                <input type="hidden" value="Практические семинары" name="name_of_seminar">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_tel" value=""  placeholder="Телефон" class="tel-mask">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item button-b">
                                        <button type="submit" class="contact-submit ">
                                            <span>Перезвоните мне</span>
                                        </button>
                                    </div>
                                    <p class="garantya">Гарантия конфиденциальности</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item two">
                    <div class="txt">
                        <b><p>Индивидуальный прием</p>
                            <p style="padding-bottom: 24px;margin-top: -16px;">Это ключ к Вашему личному благополучию.</p>
                            <p><i>Дата:</i> 28 мая 2016 года</p>
                            <p><i>Ведущий:</i> Н. А. Онуфриева,
                            президент Академии (г. Москва)</p>
                            <p><i>Стоимость:</i> от 3 000 рублей</p>
                        </b>
                        <p>На встрече будет проведена диагностика<br>
                        и анализ причины Вашей проблемы, предложена
                        и реализована индивидуальная программа
                        ее устранения. Работа ведется на высоком
                        энергетическом уровне, объединяет внутреннее
                        видение и современные методы.</p>
                    </div>
                    <div class="contacts cfix">
                        <div class="tel">
                            <p>Телефон для записи:</p>
                            <p><a href="tel:89326009937">8 (932) 600-9937</a></p>
                        </div>
                        <div class="butt">Узнать подробности</div>
                    </div>
                    <div class="form">
                        <div class="form-main">
                            <form  name="two" class="contact-form">
                                <input type="hidden" value="Индивидуальный прием" name="name_of_seminar">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_tel" value=""  placeholder="Телефон" class="tel-mask">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item button-b">
                                        <button type="submit" class="contact-submit ">
                                            <span>Перезвоните мне</span>
                                        </button>
                                    </div>
                                    <p class="garantya">Гарантия конфиденциальности</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item three">
                    <div class="txt">
                        <b>
                            <p>Поездки по местам Силы</p>
                            <p style="padding-bottom: 24px;margin-top: -16px;">
                                Путешествие в древний АРКАИМ – <br> Страну городов!
                            </p>
                            <p><i>Дата:</i> 1- 4 июля 2016 года</p>
                            <p><i>Ведущий:</i> Н. А. Онуфриева,
                            президент Академии (г. Москва)</p>
                            <p><i>Стоимость:</i> 22 500 рублей</p>
                        </b>
                        <p>В пространстве древнего Аркаима – Страны<br>
                        городов находятся коды перемен судеб,<br>
                        безграничных знаний и сокровенный<br>
                        первоисточник изобилия для каждого. Наш путь<br>
                        будет включать экскурсионную программу,<br>
                        посвящения и индивидуальную энергетическую<br>
                        работу. Напишите нам и узнайте информацию<br>
                        о других ближайших поездках.</p>
                    </div>
                    <div class="contacts cfix">
                        <div class="tel">
                            <p>Телефон для записи:</p>
                            <p><a href="tel:89326009937">8 (932) 600-9937</a></p>
                        </div>
                        <div class="butt">Узнать подробности</div>
                    </div>
                    <div class="form">
                        <div class="form-main">
                            <form  name="three" class="contact-form">
                                <input type="hidden" value="Поездки по местам Силы" name="name_of_seminar">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_tel" value=""  placeholder="Телефон" class="tel-mask">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item button-b">
                                        <button type="submit" class="contact-submit ">
                                            <span>Перезвоните мне</span>
                                        </button>
                                    </div>
                                    <p class="garantya">Гарантия конфиденциальности</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item four">
                    <div class="txt">
                        <b>
                        <p>Обучение ясновидению</p>
                            <p style="padding-bottom: 24px;margin-top: -16px;">
                                Мы предлагаем более 50 программ обучения. Занятия проходят в группах и индивидуально.
                            </p>
                            <p><i>Дата:</i> Определяется индивидуально</p>
                            <p><i>Ведущий:</i> Н. А. Онуфриева,
                            президент Академии (г. Москва)</p>
                            <p><i>Стоимость:</i> Свяжитесь с нами и мы отправим Вам информацию</p>
                        </b>

                        <p>Вы раскроете свои экстрасенсорные способности и сможете увеличить свой потенциал. Обучитесь методам исцеления себя и других. Получите знания Древнейших цивилизаций по управлению судьбой человека.</p>
                    </div>
                    <div class="contacts cfix">
                        <div class="tel">
                            <p>Телефон для записи:</p>
                            <p><a href="tel:89326009937">8 (932) 600-9937</a></p>
                        </div>
                        <div class="butt">Узнать подробности</div>
                    </div>
                    <div class="form">
                        <div class="form-main">
                            <form  name="four" class="contact-form">
                                <input type="hidden" value="Обучение ясновидению" name="name_of_seminar">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_tel" value=""  placeholder="Телефон" class="tel-mask">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item button-b">
                                        <button type="submit" class="contact-submit ">
                                            <span>Перезвоните мне</span>
                                        </button>
                                    </div>
                                    <p class="garantya">Гарантия конфиденциальности</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item five">
                    <div class="txt">
                        <b><p>ОНЛАЙН ПРОГРАММА «Управление энергией»</p>

                        <p style="padding-bottom: 24px;margin-top: -16px;">
                            Программа состоит из семи практических занятий, проходит в режиме вебинаров.
                        </p>

                        <p><i>Дата:</i> еженедельно</p>
                        <p><i>Ведущий:</i>Т. М. Москалева, руководитель филиала Академии (г. Екатеринбург)</p>
                        <p><i>Стоимость: </i> от 1 500 рублей за один вебинар</p></b>
                        <p>Вы восполните жизненную силу и научитесь
                        управлять своей энергией. Каждое занятие
                        включает энергетические сеансы очищения
                        и гармонизации, теоритические знания.
                        Занимайтесь там, где удобно и когда удобно –
                        занятия проходят онлайн.</p>
                    </div>
                    <div class="contacts cfix">
                        <div class="tel">
                            <p>Телефон для записи:</p>
                            <p><a href="tel:89326009937">8 (932) 600-9937</a></p>
                        </div>
                        <div class="butt">Узнать подробности</div>
                    </div>
                    <div class="form">
                        <div class="form-main">
                            <form  name="five" class="contact-form">
                                <input type="hidden" value="Управление энергией" name="name_of_seminar">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_tel" value=""  placeholder="Телефон" class="tel-mask">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item button-b">
                                        <button type="submit" class="contact-submit ">
                                            <span>Перезвоните мне</span>
                                        </button>
                                    </div>
                                    <p class="garantya">Гарантия конфиденциальности</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item six">
                    <div class="txt">
                        <b><p>Практический тренинг
                        «Цветок жизни»</p>

                        <p style="padding-bottom: 24px;margin-top: -16px;">
                            Базовая универсальная двухдневная
                            программа.Работа в единстве с собой
                            и другими увеличивает динамику
                            и сокращает время достижения цели.
                        </p>
                        <p><i>Дата:</i> идет запись</p>
                        <p><i>Ведущий:</i> . М. Москалева, руководитель филиала Академии в Екатеринбурге</p></b>
                        <p><i>Стоимость: </i> 18 200 рублей</p>
                        <p>В ходе тренинга Вы избавитесь от базовых
                        проблем, уберете ненужные убеждения и снимите
                        внутренние противоречия. Научитесь не только
                        управлять, а править жизнью. Тратить меньше
                        энергии и получать больше динамики. Жить
                        не только в мечтах, а и в желанной реальности.</p>
                    </div>
                    <div class="contacts cfix">
                        <div class="tel">
                            <p>Телефон для записи:</p>
                            <p><a href="tel:89326009937">8 (932) 600-9937</a></p>
                        </div>
                        <div class="butt">Узнать подробности</div>
                    </div>
                    <div class="form">
                        <div class="form-main">
                            <form  name="six" class="contact-form">
                                <input type="hidden" value="Практический тренинг «Цветок жизни»" name="name_of_seminar">
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_tel" value=""  placeholder="Телефон" class="tel-mask">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-item">
                                        <div class="contact-form-item-input form_row">
                                            <div class="form_input">
                                                <input type="text" name="contact_mail" value=""  placeholder="E-mail">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-row cfix">
                                    <div class="contact-form-item button-b">
                                        <button type="submit" class="contact-submit ">
                                            <span>Перезвоните мне</span>
                                        </button>
                                    </div>
                                    <p class="garantya">Гарантия конфиденциальности</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>