<section class="block-2" id="block-2">
    <div class="b2-wrap">
        <div class="mbox">
            <div class="title">
                <h2>Об академии</h2>
            </div>
            <div class="description-text">
                <p>Международная Академия Ясновидения и Энерготерапии работает уже более 20 лет. <br/> Академия – старейшее и ведущее научно-исследовательское заведение в России и СНГ. <br/> Наша цель – помочь, передать уникальные знания, научить методам ясновидения и целительства.</p>
            </div>
            <div class="head-list">
                <h3>Мы занимаемся</h3>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <img src="images/im3-1.png" alt="">
                        <span> Услугами в сфере ясновидения и энерготерапии </span>
                    </li>
                    <li>
                        <img src="images/im3-2.png" alt="">
                        <span> Обучением и раскрытием экстрасенсорных способностей </span>
                    </li>
                    <li>
                        <img src="images/im3-3.png" alt="">
                        <span> Проведением выездных семинаров и мастер-классов  </span>
                    </li>
                    <li>
                        <img src="images/im3-2.png" alt="">
                        <span> Организацией поездок по местам Силы  </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>