<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="title">
        <h2>Остались вопросы?</h2>
    </div>
    <div class="txt">
        <p>Звоните. Будем рады помочь</p>
        <a class="tel" href="tel:8(932)6009937">8 (932) 600-9937</a>
        <a href="mailto:academy_ekb@mail.ru">academy_ekb@mail.ru</a>
    </div>
    <div class="butt-wrap">
        <div class="button-b"><a target="_blank" href="http://darija.ru/exit_seminars/"><span>Карта мероприятий</span></a></div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
