<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="logo cfix">
            <div class="logo-img"><img src="images/logo.png" alt=""></div>
            <div class="logo-text">
                <p>Международная Академия <br>Ясновидения и Энерготерапии</p>
                <span>Филиал в Екатеринбурге</span>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#block-2"><span>Об академии</span></a></li>
                <li><a href="#block-3"><span>Преимущества</span></a></li>
                <li><a href="#block-4"><span>возможности</span></a></li>
            </ul>
        </div>
        <div class="tel">
            <div class="tel-wrap">
                <a href="callto:89326009937"><span>8 (932) 600-9937</span></a>
            </div>
            <button class="header-form">
                <span>Заказать  обратный звонок</span>
            </button>

            <div class="header-hidden-form">
                <div class="form-main">
                    <form  name="" class="contact-form">
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_tel" value="" required="required" placeholder="+7 ( ____ ) ____ ___ ___" class="tel-mask">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item button-b">
                                <button type="submit" class="contact-submit ">
                                    <span>Перезвоните мне</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

