/* block-3 */

    .block-3{background-image:url(../../images/block-3-bg.png);background-repeat: no-repeat;background-position: center top;padding-top:120px;padding-bottom: 82px;background-size: cover;
        .title{padding: 0;margin-bottom: 90px;
            &:before{display: none;}
        }

        .block-3-main{max-width: 785px;margin:0 auto;}

        .block-3-item{display: flex;align-items:center;justify-content:space-between;flex-wrap:wrap;margin-bottom: 27px;
            &.reverse{flex-direction:row-reverse;}
            &:last-child{margin-bottom: 0;}
            .block-3-img{width: 233px;height: 233px;background-image:url(../../images/item-sun-background.png);background-repeat: no-repeat;background-position: center center;display: flex;align-items:center;justify-content:center;position: relative;
                &:before{content:'';display: block;position: absolute;width: 148px;height: 148px;border-radius: 50%;left:calc(50% - 74px);top:calc(50% - 74px);box-shadow:0 0 35px 0 rgba(0, 0, 0, .25);}
                .block-3-img-wrap{width: 148px;height: 148px;border-radius: 50%;overflow: hidden;}
            }
            .block-3-content{width: calc(100% - 263px);
                h6{font-size: 21px;color:#000;font-weight: 600;margin-bottom: 30px;line-height: 1.25;}
                p{font-size: 18px;color:#000;font-weight: 300;line-height: 1.25;}
            }
        }

    }

/* /block-3 */