/*block-4*/
    .block-4{
        .mbox {   max-width: 1080px;   }


        .content{ display: flex; justify-content: space-around; flex-wrap: wrap;}
        .item{ width: 100%; max-width: 411px; min-height: 591px; background-position: center top; background-repeat: no-repeat; background-color: #2e2e2e; position: relative; display: inline-block; vertical-align: top;   padding: 20px 20px 71px; margin-bottom: 80px;
            .txt{font:300 14px/20px 'Open Sans'; color: #fff;
                p { padding-bottom: 15px;font-size: 16px;line-height: 24px;
                    &:first-child { color: #c9e2f5; font-size: 21px; font-weight: 600; text-transform: uppercase; padding-bottom: 33px; }
                }
                i{color: #c9e2f5;font-weight:600; text-transform: uppercase;}
                b{ font-weight:400;font-size: 16px; line-height: 23px;}
                .subtitle{ font-size: 18px;display: block;     color: #fff;   text-transform: none;}
            }
            .contacts{ position: absolute; bottom: 0; width: 100%; left: 0;    padding: 0 29px 19px 20px;
                .tel{font:300 14px/20px 'Open Sans'; color: #fff; float:left;
                    a{font:600 18px/20px 'Open Sans';color: #fff; text-decoration: none;}
                }
                .butt{font:600 14.55px/16px 'Open Sans';color: #6dcff6; text-decoration: none; border:2px solid #6dcff6; text-align: center; float: right; display: block; width: 100%; max-width: 178px; height:38px;padding-top: 7px; cursor:pointer; transition: all 300ms; position: relative;

                    &.active,
                    &:hover{ color: #000; background-color: #6dcff6;}
                }
            }

            &.one{ background-image: url(../../images/it01.jpg);}
            &.two{ background-image: url(../../images/it02.jpg);}
            &.three{ background-image: url(../../images/it03.jpg);}
            &.four{ background-image: url(../../images/it04.jpg);}
            &.five{ background-image: url(../../images/it05.jpg);}
            &.six{ background-image: url(../../images/it06.jpg);}

            .form{ position: absolute; bottom: 78px; left: 0; width: 100%; padding: 0 14px; display: none;
                .form-main {  width: 100%;}
                .button-b button{max-width: none;}
            }
        }

    }
/*END block-4*/
.title{ font:400 30px/30px 'Open Sans'; color: #000; position: relative; text-align: center;padding-top: 59px; padding-bottom: 89px;
    &:before{ content: ''; display: block; position: absolute; background-image: url(../../images/title-sun.jpg); width: 297px; height: 153px;z-index: -1; left:calc(50% - 148px); top: 0;}
}
/*footer*/
    .footer{ text-align: center;
        .title{ padding-bottom: 40px;font-weight: 600;}
        .txt{font:300 24px/33px 'Open Sans'; color: #000;
            .tel{ font-weight:600;color: #6dcff6;}
            a{width: 100%; text-decoration: none; display: block;color: #000;}
        }
        .butt-wrap{ padding:33px 0 72px;}
    }
/*END footer*/