/* header */
header{position: absolute;top: 0;left: 0;width: 100%;padding-top: 11px;z-index: 4;
    .mbox{display: flex;align-content:center;justify-content:space-between;flex-wrap:nowrap;
        &:after{display: none;}
    }
    .logo{width: 100%;max-width: 300px;
        .logo-img{float: left;width: 18%;}
        .logo-text{float: right;;width: 77%;line-height: 16px;
            p{color: #d1e9fa;font-size: 14px;font-weight: 600;}
            span{font-size: 14px;font-weight: 500;color: white;font-weight: 300;}
        }
    }
    .nav{flex-basis: 40%;
        ul{display: flex;align-content:center;justify-content:space-between;}
        li{display: inline-block;padding-top: 10px;}
        a{text-decoration: none;color: white;font-size: 14px;text-transform: uppercase;font-weight: 300;
            &:hover{text-decoration: underline;}
        }
    }
    .tel{text-align: left;position: relative;}
    .tel-wrap{
        a{font-size: 21px;color: white;text-decoration: none;}
    }
    .header-form{background:transparent;border:none;cursor: pointer;color: #d6ecfd;font-size: 11px;text-decoration: underline;padding: 0;line-height: 14px;text-transform: uppercase;
        &:hover{text-decoration: none;}
    }
    .header-hidden-form{position: absolute;right: 0;top:100%;z-index: 10;display: none;}
}
/* /header */

/* block 1 */
.section-1{min-height: 715px;background:transparent url('../../images/section-1-bg.jpg') center top no-repeat;background-size: cover;padding-top: 133px;text-align: center;color: white;
    .mbox{display: flex;align-content:flex-start;justify-content:center;flex-direction:column;
        &:after{display: none;}
    }
    .top-section{font-weight: 300;font-size: 40px;line-height: 48px;max-width: 625px;margin:0 auto;}
    .top-center{font-weight: 300;font-size: 24px;line-height: 41px;padding-top: 35px;padding-bottom: 151px;
        b{font-weight: bold;}
    }
    .top-bottom{position: relative;
        .top-hidden-form{position: absolute;bottom: -25px;left: 50%;transform: translateX(-50%);display: none;
            .form-main{padding: 40px 18px 24px;}
            .button-b{padding-top: 15px;}
        }
    }
}
/* /block 1 */


.button-b{
    a,button{background:#fff;height: 47px;border:2px solid #6dcff6;color: #6dcff6;padding: 0;font-size: 18px;font-weight: 600;max-width: 340px;text-align: center;width: 100%;text-decoration: none;display: inline-block;line-height: 40px;transition:all ease .2s;cursor: pointer;
        &:hover{background-color: #F1F1F1;}
        &:active{position: relative;top: 2px;}
    }
}
// form
.form-main{width: 380px;border:2px solid #6dcff6;padding: 40px 18px;background-color: #f8f5f1;
    input{width: 100%;height: 47px;color:#a1a1a1;font-size: 18px;text-align: center;border:2px solid #a1a1a1;margin-bottom: 18px;letter-spacing: 1px;background-color: transparent;
        &::-webkit-input-placeholder {color:#a1a1a1;font-size: 18px;}
        &:-moz-placeholder {color:#a1a1a1;font-size: 18px;}
        &::-moz-placeholder {color:#a1a1a1;font-size: 18px;}
        &:-ms-input-placeholder {color:#a1a1a1;font-size: 18px;}
        &.error{border-color: red;
            &::-webkit-input-placeholder {color:red;}
            &:-moz-placeholder {color:red;}
            &::-moz-placeholder {color:red;}
            &:-ms-input-placeholder {color:red;}
        }
    }
    .errorText{display: none !important;}
    .button-b{padding-top: 12px;}
    .garantya{font-size: 14px;color: #a1a1a1;padding-top: 8px;text-align: center;}
}


// succes
.call-success{text-align: center;border:2px solid #a186be;background-color: #f8f5f1;padding: 20px 35px;
    .call-title{font-size: 28px;margin-bottom: 10px;}
    .call-subtitle{font-size: 23px;}
}

// block 5
.section-5{background:transparent url('../../images/section-5-bg.jpg') center top no-repeat;background-size: cover;
    .mbox{display: flex;align-content:center;justify-content:flex-start;flex-direction:column;min-height: 714px;text-align: center;color: white;padding-top: 150px;
        &:after{display: none;}
    }
    .title{font-weight: 300;line-height: 43px;font-size: 40px;padding: 0;color: white;
        &:before{display: none;}
    }
    .subtitle{font-weight: 300;line-height: 41px;font-size: 24px;padding-top: 22px;padding-bottom: 60px;}
    .section-5-form{
        .form-main{margin:0 auto;border: none;background-color: transparent;}
        .form-main input{border:2px solid transparent;background-color: rgba(255,255,255, .5);color: white;
            &::-webkit-input-placeholder {color:white;}
            &:-moz-placeholder {color:white;}
            &::-moz-placeholder {color:white;}
            &:-ms-input-placeholder {color:white;}
            &.error{border-color: red;
                &::-webkit-input-placeholder {color:red;}
                &:-moz-placeholder {color:red;}
                &::-moz-placeholder {color:red;}
                &:-ms-input-placeholder {color:red;}
            }
        }
    }
}