.b2-wrap{ padding-bottom: 10px;
    .description-text{text-align: center; font-size: 18px; line-height: 1.5; font-weight: 400; padding-bottom: 50px; }
    .head-list{ text-align: center; font-size: 21px; line-height: 1.1;font-weight: 400; color: black; padding-bottom: 15px;  }
    .list{
        ul li{ text-align: center;
            img{display: block; margin: 0 auto;}
            span{display: block; font-size: 18px; font-weight: 400; padding-bottom: 10px; padding-top: 3px; line-height: 1.3;}
        }
    }
}